<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 style="text-align: center">Favourites cryptocurrencies </h1>
    <p style="text-align: center"><a href="/news">News</a> <a href="/">All cryptocurrencies</a>  {% if user.is_authenticated %}  <a href="/logout">Logout</a>  {% else %} <a href="/login">Login</a>{% endif %}</p>
    <table style="width: 50%; text-align: center" align="center">
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Price</th>
            <th>Market volume</th>
            <th>Change</th>
            <th>Favourites</th>
        </tr>
        {% for i in cryptocurrency_list %}
        <tr>
            <td>{{ i.symbol }}</td>
            <td>{{ i.name }}</td>
            <td>{{ i.price }} $</td>
            <td>{{ i.market_volume }} $</td>
            <td>{{ i.change }} $</td>
            <td>
                <form action="delete/favourites" method="get" align="center">
                    <input type="hidden" name="symbol" value="{{ i.symbol }}">
                    <button type="submit">Remove</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>